<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="emp1" class="com.example.entity.Employee" scope="prototype">
		<property name="id" value="2001" />
		<property name="name" value="Bob" />
		<property name="contactNo" value="9999911111" />
		<property name="address" ref="addr1" />
		<property name="emailList">
			<list>
			<value>bob@example.com</value>
			<value>bob_123@example.com</value>
			</list>
		</property>
	</bean>
	<bean id="addr1" class="com.example.entity.Address">
		<property name="city" value="Bengaluru" />
		<property name="state" value="Karnataka" />
	</bean>

</beans>
